<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>
</head>
<body>
    <h1>Posts</h1>
    <form action="/posts/new">
        <button>Add Post</button>
    </form>
  <%  for(let post of posts){ %>
        <div class="post">
        <h2>Username : <%= post.username %> </h2>
        <h3>Title : <%= post.title %> </h3>
        <h3>Description : <%= post.description %> </h3>
        </div>
        <form action="/posts/<%=post.id%>" style="display: inline;">
            <button>View</button>
        </form>
        <form action="/posts/<%=post.id%>/edit" style="display: inline;" ><button>Edit Post</button></form>
        </form>
        <form action="/posts/<%=post.id%>?_method=DELETE" method="POST" style="display: inline;" ><button>Delete Post</button></form>
        <br><hr>
        <br><hr>

 <%   } %>
</body>
</html>